<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
</head>
<body>
  <h1>Home</h1>
  <h2>Get Started</h2>
  <ul>
    {% for item in getStarted%}
    <li> <a href="/documentation/{{ item.slug }}">{{item.title}}</a></li>
    {% endfor %}
  </ul>
  <h2>Component Documentation</h2>
  <ul>
      {% for item in docs%}
      <li><a href="/documentation/{{ item.slug }}">{{item.title}}</a></li>
      {% endfor %}
  </ul>

  <h2>Running in poduction</h2>
  
</body>
</html>